(
    selected_tab: Some("Reset"),
    command_fg: Some("#e0def4"),
    selection_bg: Some("#393552"),
    selection_fg: Some("#e0def4"),
    cmdbar_bg: Some("#2a273f"),
    cmdbar_extra_lines_bg: Some("#2a273f"),
    disabled_fg: Some("#6e6a86"),
    diff_line_add: Some("#3e8fb0"),
    diff_line_delete: Some("#eb6f92"),
    diff_file_added: Some("#3e8fb0"),
    diff_file_removed: Some("#eb6f92"),
    diff_file_moved: Some("#c4a7e7"),
    diff_file_modified: Some("#f6c177"),
    commit_hash: Some("#c4a7e7"),
    commit_time: Some("#908caa"),
    commit_author: Some("#9ccfd8"),
    danger_fg: Some("#eb6f92"),
    push_gauge_bg: Some("#f6c177"),
    push_gauge_fg: Some("#232136"),
    tag_fg: Some("#ea9a97"),
    branch_fg: Some("#3e8fb0"),
)
