(
    selected_tab: Some("Reset"),
    command_fg: Some("#575279"),
    selection_bg: Some("#f2e9e1"),
    selection_fg: Some("#575279"),
    cmdbar_bg: Some("#fffaf3"),
    cmdbar_extra_lines_bg: Some("#fffaf3"),
    disabled_fg: Some("#9893a5"),
    diff_line_add: Some("#286983"),
    diff_line_delete: Some("#b4637a"),
    diff_file_added: Some("#286983"),
    diff_file_removed: Some("#b4637a"),
    diff_file_moved: Some("#907aa9"),
    diff_file_modified: Some("#ea9d34"),
    commit_hash: Some("#907aa9"),
    commit_time: Some("#797593"),
    commit_author: Some("#56949f"),
    danger_fg: Some("#b4637a"),
    push_gauge_bg: Some("#ea9d34"),
    push_gauge_fg: Some("#575279"),
    tag_fg: Some("#d7827e"),
    branch_fg: Some("#286983"),
)
